*/{
    margin:0px ;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color:#cfcfcf;
    height:100vh;
    font-family: "Goudy Bookletter 1911", sans-serif;
    
}
.texto-color{
    color: #fff;
}

.name{
    margin-top:15px;    
    margin-bottom: 2px;
    font-size:20px;
    font-weight:thin;
}
/* flex */
.flex{
   display:flex;
   gap: var(--gap, 1rem);
}

.container{
    border-radius:8px;
    padding:20px;
    margin: 2px 10px 18px 10px ;
    
}
.img{
    border-radius:50%;
    border: 2px solid #800080
}


.conteudo-1{
    background-color:#7541c8;
    grid-area: a;
    padding: 30px;
    box-shadow: 0 0 1.5em black;
}

h2{
    color: white;
    font-size: 0.7em;
    margin-top: 0px;
}

h1{
    color: white;
    font-size: 1.5em;
    margin-top: 0px;
}

p{
    color: #c0c0c0;
    font-size: 0.8em;
}




.conteudo-2{
    background-color:#48556a;
    grid-area: b;
    padding: 30px;
    box-shadow: 0 0 1.5em black;
}

.conteudo-3{
    grid-area: c;
    background-color:#ffffff;
    padding: 30px;
    box-shadow: 0 0 1.5em black;
}

.conteudo-3 h2, .conteudo-3 h1{
    color:#48556a;
}

.conteudo-3 p{
    font-size: 15px;
    line-height:  200%;
}

.conteudo-4{
    grid-area: e;
    background-color: #19212e;
    padding: 30px;
    box-shadow: 0 0 1.5em black;
}

.conteudo-5{
    grid-area: d;
    background-color:#ffffff;   
    padding: 30px;
    box-shadow: 0 0 1.5em black;
}

.conteudo-5 h2, .conteudo-5 h1{
    color:#48556a;
}

.conteudo-5 p{
    color:#48556a;
}

.conteudo-3  header p,
.onteudo-5  header p
{
    color:#48556a;
}

@media screen and (min-width:900px){

.section-head{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "a a b c"
    "d e e c" ;
}

p{
    font-size: 15px;
    line-height:  200%;
}

