*/{
	margin: 0;
	padding: 0;
}

body{
	background: #f2f2f2 url(../imagens/fundo.png) no-repeat;
	background-size: 100%;
	font: 12px "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

#container{
	width: 1080px;
	height: 720px;
	margin: 50px;
	
}



#conteudo{
	width: 790px;
	height: 690px;
	float: left;
	padding: 45px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	color:  white;
	justify-content: center;
	align-content: center;


}


#conteudo1{
	width: 20px;
	height: 680px;
	float: right;
	padding: 40px;
	flex-direction: row;
	flex-wrap: wrap;
	color:  black;
	justify-content: center;
	align-content: center;
	padding: 50px;


	
}

.item1{
	width: 370px;
	height: 240px;
	background: #7441C7;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0 0 1.5em black;


}

.item2{
	width: 210px;
	height: 240px;
	float: left;
	margin-left: 10px;
	background: #48556A;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0 0 1.5em black;

}

.item3{
	width: 190px;
	height: 535px;
	float: right;
	background: #FFFFFF;
	padding: 20px;
	border-radius: 15px;
	justify-content: flex-end;
	box-shadow: 0 0 1.5em black;
	margin-top: 55px;

}
.item4{
	width: 210px;
	height: 240px;
	background: #FFFFFF;
	padding: 20px;
	margin-right: 10px;
	margin-top: 10px;
	border-radius: 15px;
	justify-content: flex-start;
	box-shadow: 0 0 1.5em black;
	color: black;
}

.item5{
	width: 380px;
	height: 240px;
	float: left;
	margin-right: 5px;
	background: #19202E;
	padding: 20px;
	margin-top: 10px;
	border-radius: 15px;
	justify-content: center;
	box-shadow: 0 0 1.5em black;

}

h1{
	font-size: 1em;
	color: #fff;
	padding: 0px;
	margin: 5px;
	position: relative; top:  5px; left: 20px;
}

h2{
	font-size: 0.6em;
	color: #fff;
	padding: 0px;
	margin: 0px;
	position: relative; top:  0px; left: 20px;
}

h3{
	font-size: 1em;
	color: #fff;
	margin-top: 20px;
	
}

h4{
	font-size: 1em;
	color: black;
	padding: 0px;
	margin: 5px;
	position: relative; top:  5px; left: 20px;

}

h5{
	font-size: 0.6em;
	color: black;
	padding: 0px;
	margin: 0px;

	position: relative; top:  0px; left: 20px;
}

h6{
	font-size: 1em;
	color: black;
	margin-top: 20px;
	
}

img{
	border-radius: 150px;
	float: left;
	border: 2px solid #800080;
}

p{
	font-size: 0.8em;
}